<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LinkCore Download Manager</title>
  </head>

  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      background-color: #fff;
    }

    #app {
      height: 100%;
    }

    @media (prefers-color-scheme: dark) {
      html, body {
        background-color: #343434;
      }
    }
  </style>

  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!htmlWebpackPlugin.options.isBrowser && !htmlWebpackPlugin.options.isDev) { %>
      <script>
        window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
